@font-face {
  font-family: 'Beaufort';
  src: url('/src/assets/BeaufortforLOL-Medium.otf');
}

@font-face {
  font-family: 'Spiegel';
  src: url('/src/assets/Spiegel-Regular.otf');
}

:root {
  --blue1: #CDFAFA;
  --blue2: #0AC8B9;
  --blue3: #0397AB;
  --blue4: #005A82;
  --blue5: #0A323C;
  --blue6: #091428;
  --blue7: #0A1428;

  --gold1: #F0E6D2;
  --gold2: #C8AA6E;
  --gold3: #C89B3C;
  --gold4: #785A28;
  --gold5: #463714;
  --gold6: #32281E;

  --grey1: #A09B8C;
  --grey2: #5B5A56;
  --grey3: #3C3C41;
  --grey4: #1E2328;
  --grey5: #1E282D;
  --black: #010A13;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Beaufort;
  font-size: 1rem;
  color: #fff;
}

html,
body,
#app,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(var(--blue7), var(--blue6));
  display: flex;
}

main {
  gap: 0.5rem;
  padding: 0.5rem;
}

div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "top top"
    "mid right"
    "bot right";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}

.container>div {
  border: 1px solid hsl(46, 38%, 68%);
}

.top {
  grid-area: top;
  justify-content: center;
}

.mid {
  grid-area: mid;
}

.right {
  grid-area: right;
}

.bot {
  grid-area: bot;
}

button {
  height: 40px;
  width: 120px;
  background-color: var(--blue4);
  border: solid 1px var(--blue3);
}

button:hover {
  background-color: var(--blue3);
  border: solid 2px var(--blue1);

}

button:active {
  background-color: var(--blue5);
  border: solid 2px var(--gold2);
}

button:disabled {
  background-color: var(--grey2);
  border: solid 2px var(--gold4);
}

button:disabled:hover {
  background-color: var(--grey2);
  border: solid 4px var(--gold4);
}

button:disabled:active {
  background-color: var(--grey4);
  border: solid 2px var(--gold4);
}

input ,select {
  background-color: var(--black);
  outline-color: var(--gold2);
  box-shadow: none;
  border: solid 1px var(--gold2);
  color: var(--gold1);
  width: 200px;
  height: 30px;
  margin: .25rem;
}

input:focus {
  background-color: var(--blue5);
  outline: solid;
  outline-width: 2px;
  outline-color: var(--gold3);
  border: solid 1px var(--gold2);
}

.testCard {
  background-color: goldenrod;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
